.school__wrapper{
	height: 80vh;
	display: flex;
	flex-direction: row;
}

.school__title{
	text-align: center;
	color: var(--main-color);
	margin: 10px 0px;
}

.school__info{
	padding: 0px 50px;
}

.school__info > h2{
	margin: 15px 0px;
	color: var(--main-color);
	font-size: 25px;
}

.school__info > p {
	font-size: 18px;
	color: #444;
	margin-bottom: 10px;
	text-align: justify;
}

/* .school__info > div{
	width: 100%;
	display: flex;
	justify-content: center;
} */

.school__info > img {
	width: 600px;
	height: 350px;
}

.school__card_container{
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.school__card_title{
	color: white;
	padding: 20px 0px;
	text-align: center;
	font-size: 30px;
}

.school__card_alignment{
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 30px 20px;
}

.school__card{
	height: 450px;
	width: 50%;
	background-color: #29128f;
}

@media (max-width: 1000px) {
	.school__wrapper{
		flex-direction: column;
	}

	.school__card_container{
		height: auto;
	}

	.school__card_alignment{
		flex-direction: column;
		align-items: center;
	}

	.school__card{
		width: 90%;
	}

}

@media (max-width: 710px) {

	.school__info > h2{
		margin-top: 20px;
		text-align: center;
	}

	.school__info > img{
		width: 100%;
		height: 270px;
	}
}