*{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root{
	--main-color: #6A49FD;
}

.fadeIn{
	animation: 2s ease fadeInAnimation;
}

@keyframes fadeInAnimation {
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}